.footer{
  background: #636b6f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.header{
  background: #636b6f;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}
.header img{
  display: inline-block;
}
.header h1{
  display: inline-block;
  margin-right: 25%;
}
.bg-image{
  background-image: url("../img/Laravel-logo.jpg");
  background-size: contain;
  height: 500px;
  padding: 20px;
}